

.frame
{

     perspective:1000px; /* Apply perspective for 3d effect for modern browser  */
}
.backsupport
{
      width:300px;
      height:200px;
      background: white;
      border-radius: 10px;
      box-shadow: 5px 10px 15px rgba(0,0,0,0.5);
      /* horizontal 5px offset  shaddo right ki traf move hogi
        10px vertical offset shadow bottom ki tarf jae ge
        15px blur radius
      */

       transform-style:preserve-3d; /* For Latest Browser We are Inlcude Transform-style for 3d Rotation*/
       transition:transform 0.6s;
      position: relative;
      left:40%;

}
.backsupport:hover
{
    transform:rotateY(70deg) rotateX(60deg); /*  Apply 3d rotation on hover  */
}
.content
{
     padding:10px;
}