

.mybkimage
{
    background-image: url('../images/myimagebk.jpg');
    background-size: cover;
}

.mydiv
{
    background: green;
    width:300px;
    height: 380px;
    padding:40px;
    border-radius: 100px 100px 0 0; /* Top left & top right corner only  */
    text-align: justify;
    position: relative;
    left:40%;
    opacity:0.5;
}

.mydiv2
{
    background-color:rgba(0,128,0,0.8);
    width:300px;
    height: 380px;
    padding:40px;
    border-radius: 100px 100px 0 0; /* Top left & top right corner only  */
    text-align: justify;
    position: relative;
    left:40%;
    color:white;
  
}