.km
{
    position: absolute;
    width:300px;
    height:100px;
    background-color:red;
    top:10px;
}
.km2
{
    position: absolute;
    width:300px;
    height:100px;
    background-color:yellow;
    top:200px;
}